<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer" title="Customers" sortOrder="10">
                    <resource id="CodezSparkMobile_WishlistApi::manage_wishlist" title="CodezSpark - Manage Wishlist" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>