<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <CodezSparkMobileConfig>
            <general>
                <sign_in_text>Sign In</sign_in_text>
                <sign_up_text>Sign Up</sign_up_text>
                <forget_password_text>Forgot Password</forget_password_text>
            </general>
        </CodezSparkMobileConfig>
    </default>
</config>
