<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="homepage_api_configuration" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="product_list_config" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Listing Page</label>
                <field id="product_limit" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Limit Color</label>
                    <validate>required-entry validate-digits validate-not-negative-number</validate>
                </field>
                <field id="image_width" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Width</label>
                    <validate>required-entry validate-digits validate-not-negative-number</validate>
                </field>
                <field id="image_height" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Height</label>
                    <validate>required-entry validate-digits validate-not-negative-number</validate>
                </field>
            </group>
        </section>
    </system>
</config>