<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="codezsparkmobile_product_detail_api_response_plugin" type="CodezSparkMobile\ProductDetailApi\Plugin\ProductDetailResponsePlugin" sortOrder="10" disabled="false"/>
    </type>
</config>